* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1e3d59;
    color: #fff;
    padding: 30px;
    text-align: center;
}

h1, h2, h3 {
    margin-bottom: 15px;
}

article {
    background-color: #2e5a7e;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto 20px auto;
}
article:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px #fff;
}

section ul {
    list-style:disc;
    text-align: left;
    padding-left: 20px;
}

section ul li {
    margin: 5px 0;
}

section ul li ul li a{
    color:#fff;
}

section ul li ul li a:hover {
    color:#ffcc00;
}

section ul li ul li a:active {
    color: #00ff00;
}

section ul li ul li a:visited{
    color:#a3ff9e;
}